{% extends "base_template.html" %}

{% block content %}
<div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-default text-center">
      <div class="panel-heading"><h3>Register</h3></div>
        <div class="panel-body">
            <form method="post" action="">
            {% csrf_token %}
                {{ form.email }}
                <br>
                {{ form.username }}
                <br>
                {{ form.password1 }}
                <br>
                {{ form.password2 }}
               <br>
            <button class="btn btn-xl" type="submit">register</button>
            <br>
            <br>
            <p>Not member? <a href="{% url 'register' %}">Register!</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

