@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

body {
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}


/* Bryan's random styling!!!!! */

#main {
  margin-top: 60px;
}

.navbar-default {
background-color: #EFED72 !IMPORTANT;
}

ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align:left;
}
.title{
text-transform:uppercase;
font-size:28px;
background-color:lightgrey;
}